@{
    ViewData["Title"] = "Associates Page";
}
<!-- ======= About Section ======= -->
<div id="about" class="paddsection">
    <div class="container">
        <div class="row justify-content-between">

            <div class="col-lg-4 ">
                <div class="div-img-bg">
                    <h2>Meet My Class!</h2>
                    <br />
                </div>
            </div>


        </div>
    </div>
</div><!-- End About Section -->
<!-- ======= Journal Section ======= -->
<div id="journal" class="text-left paddsection">

    <div class="container">
        <div class="section-title text-center">
            <h2 >Classmates</h2>
        </div>
    </div>

    <div class="container" id="indexpitch">
        <div class="journal-block">
            <div class="row">

                <div>
                    <div class="journal-info">


                        <div class="container text-center" id="classmates">

                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="container">
                                        <img id="associate" src="~/assets/img/Jake.png" alt="" >       
                                    </div>
                                    <button type="button" id="button" class="btn btn-warning">
                                    <a href="https://www.linkedin.com/in/blake-woods-216inf/"><h3>Jake Bush</h3></a>
                                    </button>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="container">
                                        <img id="associate" src="~/assets/img/Sam.png" alt="">
                                    </div>
                                    <button type="button" id="button" class="btn btn-warning">
                                    <a href="https://www.linkedin.com/in/samuel-nichols-a94766232/"><h3>Samuel Nichols</h3></a>
                                    </button>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="container">
                                        <img id="associate" src="~/assets/img/BlakeWoods.png" id="" alt="">
                                    </div>
                                     <button type="button" id="button" class="btn btn-warning">
                                    <a href="http://coderguykc.com/"><h3>Blake Woods</h3></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>

            </div>
        </div>
    </div>

</div><!-- End Journal Section -->
<!-- ======= Contact Section ======= -->
<div id="contact" class="paddsection">
    <div class="container">
        <div class="contact-block1">
            <div class="row">

                <div class="col-lg-6">
                    <div class="contact-contact">

                        <h2 class="mb-30">GET IN TOUCH</h2>

                        <ul class="contact-details">
                            <li><span>23 Main, Street</span></li>
                            <li><span>New York, United States</span></li>
                            <li><span>+88 01912704287</span></li>
                            <li><span>example@example.com</span></li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-6">
                    <form asp-action="Contact" method="post" role="form" class="php-email-form">
                        <div class="row gy-3">

                            <div class="col-lg-6">
                                <div class="form-group contact-block1">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>

                            <div class="mt-0">
                                <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Contact Section -->