@{
    ViewData["Title"] = "Resume Page";
}
        <!-- ======= About Section ======= -->
        <div id="about" class="paddsection">
          <div class="container">
            <div class="row justify-content-between">
    
              <div class="col-lg-4 ">
                <div class="div-img-bg">
                  <div class="about-img">
                  
                   <h2>Resume</h2>
                  
                  </div>
                </div>
              </div>
    
              <div class="col-lg-7">
                <div class="about-descr">
    
                </div>
              </div>
            </div>
          </div>
        </div><!-- End About Section -->
    
    
    
        <!-- ======= Journal Section ======= -->
        <div id="journal" class="text-left paddsection">
    
          <div class="container">
            <div class="section-title text-center">
              <h2>Jonathan Pedroza</h2>
            </div>
          </div>
    
          <div class="container" id="indexpitch">
            <div class="journal-block">
              <div class="row">
    

                <div class="col-lg-6 col-md-6">
                  <div class="journal-info">
                    <div class="container" id="resumes">
                      <img id="resumeImg" src="~/assets/img/Resume1.png" alt="JonathanPedrozaResume">
           @*           <img id="resumeImg" src="~/assets/img/Resume2.png" alt="JonathanPedrozaResume">*@
                    </div>
                  </div>
                </div>    
                
                <div class="col-lg-6 col-md-6">
                  <div class="journal-info">
                    <div class="container" id="resumes">
                      <img id="resumeImg" src="~/assets/img/Resume2.png" alt="JonathanPedrozaResume">
                    </div>
                  </div>
                </div>   

                <!-- ====== Button section ====== -->
                <div class="d-grid gap-2 col-lg-5 mx-auto"> 
                  <button type="button" id="button" class="btn btn-warning">
                    <a href="~/forms/resumeLink/JonPedrozaResume.docx" download="JonPedrozaResume">Download Resume</a>
                  </button>
                </div>
                </br>
                <!-- ====== End Button section ====== --> 
              </div>
            </div>
          </div>
    
        </div><!-- End Journal Section -->


    <!-- ======= Contact Section ======= -->
<div id="contact" class="paddsection">
    <div class="container">
        <div class="contact-block1">
            <div class="row">

                <div class="col-lg-6">
                    <div class="contact-contact">

                        <h2 class="mb-30">GET IN TOUCH</h2>

                        <ul class="contact-details">
                            <li><span>23 Main, Street</span></li>
                            <li><span>Kansas, United States</span></li>
                            <li><span>+88 01912704287</span></li>
                            <li><span>example@example.com</span></li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-6">
                    <form action="https://formsubmit.co/aac2f0e4fadd14a11b06e39f59437265" method="post" role="form" class="php-email-form">
                        <div class="row gy-3">

                            <div class="col-lg-6">
                                <div class="form-group contact-block1">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>

                            <div class="mt-0">
                                <input type="submit" class="btn btn-defeault btn-send" value="Send message">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Contact Section -->